<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Course page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="btn btn-dark" role="button" th:href="@{courses-list}"> <span> <em class="fas fa-arrow-circle-left fa-lg"></em> Courses list
      </span></a> <a class="navbar-brand" href="#"> Course page</a>
    </div>
  </nav>
  <br>
  <div class="container col-sm-8">
    <div class="row">
      <div class=" col-sm-5 jumbotron" style="padding: 1rem 1rem">
        <h4 class="display-4" th:text="${'Edit course ' + course.courseName}">Edit course</h4>
        <hr class="my-4">
        <form class="form" id="inputForm" th:method="PATCH" th:action="@{/courses/{id}(id = ${course.courseId})}" th:object="${course}">
          <div class="form-group row">
            <label for="courseName" class="col-sm-4 col-form-label">Course name </label>
            <div class="col-sm-8">
              <input type="hidden" th:field="*{courseId}" /> <input id="courseName" type="text" readonly="readonly" required th:field="*{courseName}" class="form-control" placeholder="Course name">
              <div th:if="${#fields.hasErrors('courseName')}" class="alert alert-danger" role="alert" th:errors=*{courseName} style="text-align: center"></div>
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-4 col-form-label">Description </label>
            <div class="col-sm-8">
              <textarea id="description" required th:field="*{courseDescription}" class="form-control" placeholder="Description"></textarea>
              <div th:if="${#fields.hasErrors('courseDescription')}" class="alert alert-danger" role="alert" th:errors=*{courseDescription} style="text-align: center"></div>
            </div>
          </div>
          <hr class="my-4">
          <div class="form-group row">
            <div class="col-sm-12">
              <button id="save" type="submit" class="btn btn-dark btn-block">
                Save <em class="fas fa-save"> </em>
              </button>
            </div>
          </div>
        </form>
        <form class="form" th:method="DELETE" th:action="@{/courses/{id}(id = ${course.courseId})}" th:object="${course}">
          <input type="hidden" th:field="*{courseId}" /> <input type="hidden" th:field="*{courseName}" />
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-danger btn-block">
                Remove course <em class="fa fa-trash-alt"> </em>
              </button>
            </div>
          </div>
          <div th:if="${#fields.hasErrors('lessons')}" class="alert alert-danger" role="alert" th:errors=*{lessons} style="text-align: center"></div>
        </form>
        <div th:if="${#fields.hasErrors('${course}')}" class="alert alert-danger" role="alert" th:errors=${course} style="text-align: center"></div>
        <div th:if="${serviceException != null}" class="alert alert-danger" role="alert" th:text=${serviceException} style="text-align: center"></div>
      </div>

      <div class="col-sm-7 jumbotron" style="padding: 1rem 1rem">
        <h4 class="display-4" th:text="${'All lessons for course ' + course.courseName}">Lessons</h4>
        <hr class="my-4">
        <div th:if="${course.lessons.isEmpty()}">There are no lessons on this course yet</div>

        <div th:unless="${course.lessons.isEmpty()}" class="container">
          <table id="table-timetable" class="table table-hover table-bordered" style="width: 100%">
            <caption>Course lessons</caption>
            <thead class="table-active">
              <tr>
                <th id="time">Time</th>
                <th id="group">Group</th>
                <th id="teacher">Teacher</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="lesson : ${course.lessons}">
                <td th:text="${lesson.dateTime.lessonDate + ' ' 
                           + lesson.dateTime.startLesson + ' - '
                           + lesson.dateTime.endLesson}">Time</td>
                <td th:text="${lesson.group.groupName}">Group</td>
                <td th:text="${lesson.teacher.name}">Teacher</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script th:src="@{/scripts/main.js}"></script>

</body>
</html>