<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Courses</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/university">University</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="ul-nav" class="navbar-nav ml-auto">
          <li class="nav-item"><a id="timetable" class="nav-link" href="/university/timetable/timetable">Timetable</a></li>
          <li class="nav-item active"><a id="courses" class="nav-link" href="/university/courses/courses-list">Courses <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a id="teachers" class="nav-link" href="/university/teachers/teachers-list">Teachers </a></li>
          <li class="nav-item"><a id="groups" class="nav-link" href="/university/groups/groups-list">Groups </a></li>
          <li class="nav-item"><a id="students" class="nav-link" href="/university/students/students-list">Students </a></li>
          <li class="nav-item"><a id="auditoriums" class="nav-link" href="/university/auditoriums/auditoriums-list">Auditoriums </a></li>
          <li class="nav-item"><a id="settings" class="nav-link" href="/university/settings-page"><em class="fas fa-cog fa-lg"></em> </a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container col-sm-6">
    <div class="row">
      <div class="container" th:if="${serviceException != null}">
        <div class="container">
          <h1 th:text=${serviceException}></h1>
        </div>
      </div>
      <div class="container" th:if="${serviceException == null}">
        <table id="table-courses" class="table table-hover">
          <caption>University courses</caption>
          <thead class="table-active">
            <tr>
              <th id="course-name" style="width:30%">Course name</th>
              <th id="description">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr class="clickable-row" th:attr="data-url=${course.courseId}" th:each="course : ${courses}">
              <td th:text="${course.courseName}">Course name</td>
              <td th:text="${course.courseDescription}" style="overflow:auto">Description></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="addButton" class="panel-body" style="position: fixed; bottom: 55px; right: 55px;">
    <a class="btn btn-info btn-circle btn-xl" role="button" href="/university/courses/new"> <em class="fa fa-plus"></em></a>
  </div>
  
    <div th:if="${success != null}" class="alert alert-success" role="alert" th:text=${success} style="text-align: center"></div>

  <div id="counters-container" style="display: none"></div>

  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script th:src="@{/scripts/main.js}"></script>
</body>
</html>