<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create new course</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="btn btn-dark" role="button" th:href="@{courses-list}"> <span> <em class="fas fa-arrow-circle-left fa-lg"></em> Courses list</span></a> 
      <a class="navbar-brand" href="#">Create new course</a>
    </div>
  </nav>
    <br>
  <div class="container col-sm-4 jumbotron" style="padding:1rem 1rem">
    <h4 class="display-4">New course</h4>
    <hr class="my-4">
    <form class="form" id="input-form" th:method="POST" th:action="@{/courses/new}" th:object="${course}">
      <div class="form-group row">
        <label for="course-name" class="col-sm-4 col-form-label">Course name </label>
        <div class="col-sm-8">
          <input id="course-name" type="text" required th:field="*{courseName}" class="form-control" placeholder="Course name">
          <div th:if="${#fields.hasErrors('courseName')}" class="alert alert-danger" role="alert" th:errors=*{courseName} style="text-align:center"></div>
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-4 col-form-label">Description </label>
        <div class="col-sm-8">
          <textarea id="description" required th:field="*{courseDescription}" class="form-control" placeholder="Description"></textarea>
          <div th:if="${#fields.hasErrors('courseDescription')}" class="alert alert-danger" role="alert" th:errors=*{courseDescription} style="text-align:center"></div>
        </div>
      </div>
      <hr class="my-4">
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-dark btn-block">Save <em class="fas fa-save" > </em></button>
        </div>
      </div> 
      <div th:if="${#fields.hasErrors('global')}" class="alert alert-danger" role="alert" th:errors=*{global} style="text-align:center"></div>
    </form>
    <div th:if="${serviceException != null}" class="alert alert-danger" role="alert" th:text=${serviceException} style="text-align:center"></div>
  </div>

</body>
</html>