<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Group page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="btn btn-dark" role="button" th:href="@{groups-list}"> <span> <em class="fas fa-arrow-circle-left fa-lg"></em> Groups list</span></a> 
      <a class="navbar-brand" href="#"> Group page</a>
    </div>
  </nav>
  <br>

  <div class="container col-sm-4">
    <div class="jumbotron" style="padding: 1rem 1rem">
      <h4 class="display-4" th:text="${'Edit group ' + group.groupName}">Edit group</h4>
      <hr class="my-4">
      <form class="form" id="inputForm" th:method="PATCH" th:action="@{/groups/{id}(id = ${group.groupId})}" th:object="${group}">
        <div class="form-group row">
          <label for="group-name" class="col-sm-4 col-form-label">Group name </label>
          <div class="col-sm-8">
           <input type="hidden" th:field="*{groupId}"/> 
            <input id="group-name" type="text" required th:field="*{groupName}" class="form-control" placeholder="Group name">
            <div th:if="${#fields.hasErrors('groupName')}" class="alert alert-danger" role="alert" th:errors=*{groupName} style="text-align:center"></div>
          </div>
        </div>
        <hr class="my-4">
        <div class="form-group row">
          <div class="col-sm-12">
            <button id="save" type="submit" class="btn btn-dark btn-block" disabled="disabled">
              Save <em class="fas fa-save"> </em>
            </button>
          </div>
        </div>
      </form>
      <form class="form" th:method="DELETE" th:action="@{/groups/{id}(id = ${group.groupId})}" th:object="${group}">
      <input type="hidden" th:field="*{groupId}"/>
      <input type="hidden" th:field="*{groupName}"/>
        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-danger btn-block">
              Remove group <em class="fa fa-trash-alt"> </em>
            </button>
          </div>
        </div>
        <div th:if="${#fields.hasErrors('lessons')}" class="alert alert-danger" role="alert" th:errors=*{lessons} style="text-align: center"></div>
      </form>
      <div th:if="${serviceException != null}" class="alert alert-danger" role="alert" th:text=${serviceException} style="text-align: center"></div>
      <div th:if="${#fields.hasErrors('${group}')}" class="alert alert-danger" role="alert" th:errors=${group} style="text-align:center"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4 jumbotron" style="padding: 1rem 1rem">
        <h4 class="display-4">Students</h4>
        <hr class="my-4">
        <div th:if="${group.students.isEmpty()}">The group has no students yet</div>
        <div th:unless="${group.students.isEmpty()}" class="list-group">
          <a th:each="student: ${group.students}" 
             th:text=${student.name} 
             th:href="${'/university/students/' + student.studentId}" 
             class="list-group-item list-group-item-action"></a>
        </div>
      </div>
      <div class="col-sm-8 jumbotron" style="padding: 1rem 1rem">
        <h4 class="display-4" th:text="${'All lessons for group ' + group.groupName}">Lessons</h4>
        <hr class="my-4">
        <div th:if="${group.lessons.isEmpty()}">There are no lessons for this group yet</div>
        <div th:unless="${group.lessons.isEmpty()}" class="container">
          <table id="table-timetable" class="table table-hover table-bordered" style="width: 100%">
            <caption>Group lessons</caption>
            <thead class="table-active">
              <tr>
                <th id="time">Time</th>
                <th id="auditorium">Auditorium</th>
                <th id="cousre">Course</th>
                <th id="teacher">Teacher</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="lesson : ${group.lessons}">
                <td th:text="${lesson.dateTime.lessonDate + ' ' 
                           + lesson.dateTime.startLesson + ' - '
                           + lesson.dateTime.endLesson}">Time</td>
                <td th:text="${lesson.auditorium.roomNumber}">Auditorium</td>
                <td th:text="${lesson.course.courseName}">Course</td>
                <td th:text="${lesson.teacher.name}">Teacher</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script th:src="@{/scripts/main.js}"></script>

</body>
</html>