<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create new group</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="btn btn-dark" role="button" th:href="@{groups-list}"> <span> <em class="fas fa-arrow-circle-left fa-lg"></em> Groups list</span></a>
       <a class="navbar-brand" href="#">Create new group</a>
    </div>
  </nav>
    <br>
  <div class="container col-sm-4 jumbotron" style="padding:1rem 1rem">
    <h4 class="display-4">New group</h4>
    <hr class="my-4">
    <form class="form" id="input-form" th:method="POST" th:action="@{/groups/new}" th:object="${group}">
      <div class="form-group row">
        <label for="group-name" class="col-sm-4 col-form-label">Group name </label>
        <div class="col-sm-8">
          <input id="group-name" type="text" required th:field="*{groupName}" class="form-control" placeholder="Group name">
          <div th:if="${#fields.hasErrors('groupName')}" class="alert alert-danger" role="alert" th:errors=*{groupName} style="text-align:center"></div>
        </div>
      </div>
      <hr class="my-4">
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-dark btn-block">Save <em class="fas fa-save" > </em></button>
        </div>
      </div>
    </form>
    <div th:if="${serviceException != null}" class="alert alert-danger" role="alert" th:text=${serviceException} style="text-align:center"></div>
    <div th:if="${#fields.hasErrors('${group}')}" class="alert alert-danger" role="alert" th:errors=${group} style="text-align:center"></div>
  </div>

</body>
</html>