<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit auditorium</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="btn btn-dark" role="button" th:href="@{auditoriums-list}"> <span> <em class="fas fa-arrow-circle-left fa-lg"></em> Auditoriums list</span></a> 
      <a class="navbar-brand" href="#">Auditorium
        page</a>
    </div>
  </nav>
  <br>
  <div class="container col-sm-8">
    <div class="row">
      <div class=" col-sm-5 jumbotron" style="padding: 1rem 1rem">
        <h4 class="display-4" th:text="${'Edit auditorium ' + auditorium.roomNumber}">Edit auditorium</h4>
        <hr class="my-4">
        <form class="form" id="inputForm" th:method="PATCH" th:action="@{/auditoriums/{id}(id = ${auditorium.auditoriumId})}" th:object="${auditorium}">
          <div class="form-group row">
            <label for="roomNumber" class="col-sm-4 col-form-label">Room number </label>
            <div class="col-sm-8">
              <input type="hidden" th:field="*{auditoriumId}"/> 
              <input id="roomNumber" type="number" max="999" min="1" required th:field="*{roomNumber}" class="form-control" placeholder="Room number">
              <div th:if="${#fields.hasErrors('roomNumber')}" class="alert alert-danger" role="alert" th:errors=*{roomNumber} style="text-align:center"></div>
            </div>
          </div>
          <div class="form-group row">
            <label for="capacity" class="col-sm-4 col-form-label">Capacity </label>
            <div class="col-sm-8">
              <input id="capacity" type="number" max="999" min="1" required th:field="*{capacity}" class="form-control" placeholder="Capacity">
              <div th:if="${#fields.hasErrors('capacity')}" class="alert alert-danger" role="alert" th:errors=*{capacity} style="text-align:center"></div>
            </div>
          </div>
          <hr class="my-4">
          <div class="form-group row">
            <div class="col-sm-12">
              <button id="save" type="submit" class="btn btn-dark btn-block" disabled="disabled">
                Save <em class="fas fa-save"> </em>
              </button>
            </div>
          </div>
        </form>
        <form class="form" th:method="DELETE" th:action="@{/auditoriums/{id}(id = ${auditorium.auditoriumId})}" th:object="${auditorium}">
        <input type="hidden" th:field="*{auditoriumId}"/> 
        <input type="hidden" th:field="*{roomNumber}"/> 
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-danger btn-block">
                Remove auditorium <em class="fa fa-trash-alt"> </em>
              </button>
            </div>
          </div>
           <div th:if="${#fields.hasErrors('lessons')}" class="alert alert-danger" role="alert" th:errors=*{lessons} style="text-align:center"></div>
        </form>
        <div th:if="${serviceException != null}" class="alert alert-danger" role="alert" th:text=${serviceException} style="text-align: center"></div>
        <div th:if="${#fields.hasErrors('${auditorium}')}" class="alert alert-danger" role="alert" th:errors=${auditorium} style="text-align:center"></div>
      </div>
      <div class="col-sm-7 jumbotron" style="padding: 1rem 1rem">
        <h4 class="display-4" th:text="${'Lessons in auditorium ' + auditorium.roomNumber}">Lessons</h4>
        <hr class="my-4">
        <div th:if="${auditorium.lessons.isEmpty()}">There are no lessons in the auditorium yet</div>
      <div th:unless="${auditorium.lessons.isEmpty()}" class="container">
        <table id="table-timetable" class="table table-hover table-bordered" style="width: 100%">
          <caption>Auditorium lessons</caption>
          <thead class="table-active">
            <tr>
              <th id="time">Time</th>
              <th id="group">Group</th>
              <th id="cousre">Course</th>
              <th id="teacher">Teacher</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="lesson : ${auditorium.lessons}">
              <td th:text="${lesson.dateTime.lessonDate + ' ' 
                           + lesson.dateTime.startLesson + ' - '
                           + lesson.dateTime.endLesson}">Time</td>
              <td th:text="${lesson.group.groupName}">Group</td>
              <td th:text="${lesson.course.courseName}">Course</td>
              <td th:text="${lesson.teacher.name}">Teacher</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      </div>
    </div>
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script th:src="@{/scripts/main.js}"></script>

</body>
</html>