<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create new auditorium</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="btn btn-dark" role="button" th:href="@{auditoriums-list}"> <span> <em class="fas fa-arrow-circle-left fa-lg"></em> Auditoriums list</span></a> 
      <a class="navbar-brand" href="#">Create new auditorium</a>
    </div>
  </nav>
    <br>
  <div class="container col-sm-4 jumbotron" style="padding:1rem 1rem">
    <h4 class="display-4">New auditorium</h4>
    <hr class="my-4">
    <form class="form" id="inputForm" th:method="POST" th:action="@{/auditoriums/new}" th:object="${auditorium}">
      <div class="form-group row">
        <label for="room-number" class="col-sm-4 col-form-label">Room number </label>
        <div class="col-sm-8">
          <input id="room-number" type="number" max="999" min="1" required th:field="*{roomNumber}" class="form-control" placeholder="Room number">
          <div th:if="${#fields.hasErrors('roomNumber')}" class="alert alert-danger" role="alert" th:errors=*{roomNumber} style="text-align:center"></div>
        </div> 
      </div>
      <div class="form-group row">
        <label for="capacity" class="col-sm-4 col-form-label">Capacity </label>
        <div class="col-sm-8">
          <input id="capacity" type="number" max="200" min="1" required th:field="*{capacity}" class="form-control" placeholder="Capacity">
          <div th:if="${#fields.hasErrors('capacity')}" class="alert alert-danger" role="alert" th:errors=*{capacity} style="text-align:center"></div>
        </div>
      </div>
      <hr class="my-4">
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-dark btn-block">Save <em class="fas fa-save" > </em></button>
        </div>
      </div>
      <div th:if="${#fields.hasErrors('global')}" class="alert alert-danger" role="alert" th:errors=*{global} style="text-align:center"></div>
    </form>
    <div th:if="${serviceException != null}" class="alert alert-danger" role="alert" th:text=${serviceException} style="text-align:center"></div> 
  </div>
</body>
</html>