.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 17px 16px;
	border-radius: 35px;
	text-align: center;
	font-size: 24px;
	line-height: 1.33;
	position: fixed; 
	bottom: 55px; 
	right: 55px;
	color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0px;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.42857;
}

td {
    word-break: break-all;
}

.table-timetable td, .table-timetable th, .table-timetable thead th {
    padding: .15rem;
    vertical-align: middle;
    text-align: -webkit-center;
    border: 1px solid #c6c9cc;
}



.clickable-row {
	cursor: pointer;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.2rem;
}








