<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Fatal error</title>
</head>
<body>
	<div class="container">
		<h1 th:text=${daoException}></h1>
	</div>
  
    <div class="container">
    <h1>FATAL ERROR</h1>
  </div>
</body>
</html>