<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Settings</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/university">University</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="ul-nav" class="navbar-nav ml-auto">
          <li class="nav-item"><a id="timetable" class="nav-link" href="/university/timetable/timetable">Timetable</a></li>
          <li class="nav-item"><a id="courses" class="nav-link" href="/university/courses/courses-list">Courses </a></li>
          <li class="nav-item"><a id="teachers" class="nav-link" href="/university/teachers/teachers-list">Teachers </a></li>
          <li class="nav-item"><a id="groups" class="nav-link" href="/university/groups/groups-list">Groups </a></li>
          <li class="nav-item"><a id="students" class="nav-link" href="/university/students/students-list">Students </a></li>
          <li class="nav-item"><a id="auditoriums" class="nav-link" href="/university/auditoriums/auditoriums-list">Auditoriums </a></li>
          <li class="nav-item active"><a id="settings" class="nav-link" href="/university/settings-page"> <em class="fas fa-cog fa-lg"> </em> <span class="sr-only">(current)</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <div class="container col-sm-4">
      <div class="jumbotron" style="padding: 1rem 1rem">
        <h4 class="display-4">Settings</h4>
        <hr class="my-4">
        <form class="form" id="inputForm" th:method="PATCH" th:action="@{/settings-page/save}" th:object="${settings}">
          <div class="form-group row">
            <label for="lessonDuration" class="col-sm-8 col-form-label">Lesson duration </label>
            <div class="col-sm-4">
              <input type="hidden" th:field="*{id}"/> 
              <input id="lessonDuration" type="number" max="999" min="1" required th:field="*{lessonDuration}" class="form-control text-center" placeholder="Lesson duration">
              <div th:if="${#fields.hasErrors('lessonDuration')}" class="alert alert-danger" role="alert" th:errors=*{lessonDuration} style="text-align:center"></div>
            </div>
          </div>
          <div class="form-group row">
            <label for="groupSize" class="col-sm-8 col-form-label">Max group size</label>
            <div class="col-sm-4">
              <input id="groupSize" type="number" max="999" min="1" required th:field="*{maxGroupSize}" class="form-control text-center" placeholder="maxGroupSize">
              <div th:if="${#fields.hasErrors('maxGroupSize')}" class="alert alert-danger" role="alert" th:errors=*{maxGroupSize} style="text-align:center"></div>
            </div>
          </div>
          <hr class="my-4">
          <div class="form-group row">
            <div class="col-sm-12">
              <button id="save" type="submit" class="btn btn-dark btn-block" disabled="disabled">
                Save <em class="fas fa-save"> </em>
              </button>
            </div>
          </div>
        </form>
        <form class="form" th:method="POST" th:action="@{/settings-page/set-default}" th:object="${settings}">
        <input type="hidden" th:field="*{id}"/> 
        <input type="hidden" th:field="*{lessonDuration}"/>
        <input type="hidden" th:field="*{maxGroupSize}"/> 
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-success btn-block"> Set default <em> </em>
              </button>
            </div>
          </div>
        </form>
        <div th:if="${serviceException != null}" class="alert alert-danger" role="alert" th:text=${serviceException} style="text-align: center"></div>
       <div th:if="${#fields.hasErrors('${settings}')}" class="alert alert-danger" role="alert" th:errors=${settings} style="text-align:center"></div>
      </div>
    </div>
    
    <div id="counters-container" style="display: none"></div>
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script th:src="@{/scripts/main.js}"></script>

</body>
</html>