<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>University</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.15.1/css/all.css}" />
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/university">University</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="ul-nav" class="navbar-nav ml-auto">
          <li class="nav-item"><a id="timetable" class="nav-link" href="/university/timetable/timetable">Timetable</a></li>
          <li class="nav-item"><a id="courses" class="nav-link" href="/university/courses/courses-list">Courses <span id="courses-count" class="badge badge-info" th:text="${numberOfCourses}"> </span></a></li>
          <li class="nav-item"><a id="teachers" class="nav-link" href="/university/teachers/teachers-list">Teachers <span id="teachers-count" class="badge badge-info" th:text="${numberOfTeachers}"> </span></a></li>
          <li class="nav-item"><a id="groups" class="nav-link" href="/university/groups/groups-list">Groups <span id="groups-count" class="badge badge-info" th:text="${numberOfGroups}"> </span> </a></li>
          <li class="nav-item"><a id="students" class="nav-link" href="/university/students/students-list">Students <span id="students-count" class="badge badge-info" th:text="${numberOfStudents}"> </span></a></li>
          <li class="nav-item"><a id="auditoriums" class="nav-link" href="/university/auditoriums/auditoriums-list">Auditoriums <span id="auditoriums-count" class="badge badge-info" th:text="${numberOfAuditoriums}"> </span></a></li>
          <li class="nav-item"><a id="settings" class="nav-link" href="/university/settings-page"><em class="fas fa-cog fa-lg"></em> </a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="content" class="container-fluid">
    <div class="container py-4 text-center">
      <h1 class="display-2 pb-2">Welcome to the university</h1>
      <h1 class="display-2 pb-2">home page</h1>
    </div>
  </div>

  <div id="counters" style="display: none">
    <span id="courses-count" class="badge badge-info" th:text="${numberOfCourses}"> </span> 
    <span id="teachers-count" class="badge badge-info" th:text="${numberOfTeachers}"> </span> 
    <span id="groups-count" class="badge badge-info" th:text="${numberOfGroups}"> </span> 
    <span id="students-count" class="badge badge-info" th:text="${numberOfStudents}"> </span> 
    <span id="auditoriums-count" class="badge badge-info" th:text="${numberOfAuditoriums}"> </span>
  </div>

  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>

</body>
</html>