<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Teacher timetable</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="btn btn-dark" role="button" th:href="@{/teachers/{id}(id = ${teacher.teacherId})}"> 
      <span> <em class="fas fa-arrow-circle-left fa-lg"></em> Teacher page</span></a>
      <a class="navbar-brand" href="#"> Teacher timetable</a>
    </div>
  </nav>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 jumbotron" style="padding: 1rem 1rem">
        <h4 class="display-4 text-center" th:if="${dailyTimetable}" th:text="${'Timetable for teacher ' + teacher.name + ' on ' + startDay}">Lessons</h4>
        <h4 class="display-4 text-center" th:unless="${dailyTimetable}" th:text="${'Timetable for teacher ' + teacher.name + ' for period from ' + startDay + ' to ' + endDay}">Lessons</h4>
        <hr class="my-4">
        <div th:if="${teacherTimetable.isEmpty()}">The teacher has no lessons during the selected period</div>
        <div th:unless="${teacherTimetable.isEmpty()}" class="container">
          <table id="table-timetable" class="table table-hover table-bordered" style="width: 100%">
            <caption>Teacher lessons</caption>
            <thead class="table-active">
              <tr>
                <th id="time">Time</th>
                <th id="auditorium">Auditorium</th>
                <th id="group">Group</th>
                <th id="cousre">Course</th>
                <th id="teacher">Teacher</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="lesson : ${teacherTimetable}">
                <td th:text="${#temporals.format(lesson.dateTime.startLesson, 'dd-MM-yyyy HH:mm') + ' - '
                           + #temporals.format(lesson.dateTime.endLesson, 'HH:mm')}">Time</td>
                <td th:text="${lesson.auditorium.roomNumber}">Auditorium</td>
                <td th:text="${lesson.group.groupName}">Group</td>
                <td th:text="${lesson.course.courseName}">Course</td>
                <td th:text="${lesson.teacher.name}">Teacher</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
 <div th:if="${serviceException != null}" class="alert alert-danger" role="alert" th:text=${serviceException} style="text-align: center"></div>

  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script th:src="@{/scripts/main.js}"></script>

</body>
</html>