<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add new student</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="btn btn-dark" role="button" th:href="@{students-list}"> <span> <em class="fas fa-arrow-circle-left fa-lg"></em> Students list</span></a> 
      <a class="navbar-brand" href="#">Add new student</a>
    </div>
  </nav>
  <br>

  <div class="container col-sm-4 jumbotron" style="padding: 1rem 1rem">
    <h4 class="display-4">Add student</h4>
    <hr class="my-4">
    <form class="form" id="inputForm" th:method="POST" th:action="@{/students/new}" th:object="${student}">
      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">Name </label>
        <div class="col-sm-8">
          <input id="name" type="text" required th:field="*{name}" class="form-control" placeholder="Name">
          <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger" role="alert" th:errors=*{name} style="text-align:center"></div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputGroup" class="col-sm-4 col-form-label">Group </label>
        <div class="col-sm-8">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroup">Choose </label>
            </div>
            <select class="custom-select" id="inputGroup" th:field="*{groupId}" required>
              <option th:value="0" selected>Choose group for student</option>
              <option th:each="group : ${incompleteGroups}" th:text="${group.groupName}" th:value="${group.groupId}"></option>
            </select>
          </div>
          <div th:if="${#fields.hasErrors('groupId')}" class="alert alert-danger" role="alert" th:errors=*{groupId} style="text-align:center"></div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Choose courses </label>
        <div class="col-sm-8">
          <div class="form-check" th:each="course : ${allCourses}">
            <input class="form-check-input" type="checkbox" th:field="*{courses}" th:value="${{course}}" th:id="${{course}}"> 
            <label class="form-check-label" th:text="${course.courseName}" th:for="${{course}}"></label>
          </div>
        </div>
      </div>
      <hr class="my-4">
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-dark btn-block">
            Save <em class="fas fa-save"> </em>
          </button>
        </div>
      </div>
    </form>
    <div th:if="${serviceException != null}" class="alert alert-danger" role="alert" th:text=${serviceException} style="text-align: center"></div>
  </div>
</body>
</html>