<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="btn btn-dark" role="button" th:href="@{students-list}"> <span> <em class="fas fa-arrow-circle-left fa-lg"></em> Students list</span></a> <a class="navbar-brand" href="#"> Student page</a>
    </div>
  </nav>
  <br>

  <div class="container col-sm-4">
    <div class="jumbotron" style="padding: 1rem 1rem">
      <h4 class="display-4 text-center" th:text="${'Edit student ' + student.name}">Edit Student</h4>
      <hr class="my-4">
      <form class="form" id="inputForm" th:method="PATCH" th:action="@{/students/{id}(id = ${student.studentId})}" th:object="${student}">
        <div class="form-group row">
          <label for="studentName" class="col-sm-4 col-form-label">Student name </label>
          <div class="col-sm-8">
            <input type="hidden" th:field="*{studentId}" /> 
            <input id="studentName" type="text" required th:field="*{name}" class="form-control" placeholder="Student name">
            <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger" role="alert" th:errors=*{name} style="text-align:center"></div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputGroup" class="col-sm-4 col-form-label">Change group </label>
          <div class="col-sm-8">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroup">Choose </label>
              </div>
              <select class="custom-select" id="inputGroup" th:field="*{groupId}" required>
                <option th:each="group : ${incompleteGroups}" th:text="${group.groupName}" th:value="${group.groupId}"></option>
              </select>
            </div>
            <div th:if="${#fields.hasErrors('groupId')}" class="alert alert-danger" role="alert" th:errors=*{groupId} style="text-align:center"></div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Choose courses </label>
          <div class="col-sm-8">
            <div class="form-check" th:each="course : ${allCourses}">
              <input class="form-check-input" type="checkbox" th:id="${{course}}" th:value="${{course}}" th:field="*{courses}"> <label class="form-check-label" th:text="${course.courseName}"
                th:for="${{course}}"></label>
            </div>
          </div>
        </div>
        <hr class="my-4">
        <div class="form-group row">
          <div class="col-sm-12">
            <button id="save" type="submit" class="btn btn-dark btn-block">
              Save <em class="fas fa-save"> </em>
            </button>
          </div>
        </div>
      </form>
      <form class="form" th:method="DELETE" th:action="@{/students/{id}(id = ${student.studentId})}" th:object="${student}">
        <div class="form-group row">
          <div class="col-sm-12">
            <input type="hidden" th:field="*{studentId}" />
            <button type="submit" class="btn btn-danger btn-block">
              Remove student <em class="fa fa-trash-alt"> </em>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div th:if="${serviceException != null}" class="alert alert-danger" role="alert" th:text=${serviceException} style="text-align: center"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 jumbotron" style="padding: 1rem 1rem">
        <h4 class="display-4 text-center" th:text="${'All lessons for student ' + student.name}">Lessons</h4>
        <hr class="my-4">
        <div th:if="${studentLessons.isEmpty()}">There are no lessons for this student yet</div>

        <div class="form-group">
          <form class="form" th:method="POST" th:action="@{/students/student-timetable}" th:object="${student}">
            <div class="row">
              <input type="hidden" th:field="*{studentId}" />
              <div class="col-sm-4">
                <div class="input-group mb-3">
                  <div class="input-group-prepend" data-date-format="yyyy-mm-dd">
                    <label class="input-group-text" for="startDate">Start day </label>
                  </div>
                  <input type="date" class="form-control" th:value="${startDay}" max="2099-12-31" required id="startDate" name="startDay" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="input-group mb-3">
                  <div class="input-group-prepend" data-date-format="yyyy-mm-dd">
                    <label class="input-group-text" for="startDate">End day </label>
                  </div>
                  <input type="date" class="form-control" th:value="${endDay}" max="2099-12-31" id="endDate" name="endDay" />
                </div>
              </div>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-info btn-block">
                  Get timetable <em class="fa fa-calendar-alt"> </em>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div th:unless="${studentLessons.isEmpty()}" class="container">
          <table id="table-timetable" class="table table-hover table-bordered" style="width: 100%">
            <caption>Student lessons</caption>
            <thead class="table-active">
              <tr>
                <th id="time">Time</th>
                <th id="auditorium">Auditorium</th>
                <th id="group">Group</th>
                <th id="cousre">Course</th>
                <th id="teacher">Teacher</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="lesson : ${studentLessons}">
                <td th:text="${lesson.dateTime.lessonDate + ' ' 
                           + lesson.dateTime.startLesson + ' - '
                           + lesson.dateTime.endLesson}">Time</td>
                <td th:text="${lesson.auditorium.roomNumber}">Auditorium</td>
                <td th:text="${lesson.group.groupName}">Group</td>
                <td th:text="${lesson.course.courseName}">Course</td>
                <td th:text="${lesson.teacher.name}">Teacher</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script th:src="@{/scripts/main.js}"></script>

</body>
</html>