<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Students</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>
<style>
</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/university">University</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="ul-nav" class="navbar-nav ml-auto">
          <li class="nav-item"><a id="timetable" class="nav-link" href="/university/timetable/timetable">Timetable</a></li>
          <li class="nav-item"><a id="courses" class="nav-link" href="/university/courses/courses-list">Courses </a></li>
          <li class="nav-item"><a id="teachers" class="nav-link" href="/university/teachers/teachers-list">Teachers </a></li>
          <li class="nav-item"><a id="groups" class="nav-link" href="/university/groups/groups-list">Groups </a></li>
          <li class="nav-item active"><a id="students" class="nav-link" href="/university/students/students-list">Students <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a id="auditoriums" class="nav-link" href="/university/auditoriums/auditoriums-list">Auditoriums </a></li>
          <li class="nav-item"><a id="settings" class="nav-link" href="/university/settings-page"><em class="fas fa-cog fa-lg"></em> </a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="container-fluid" th:if="${serviceException != null}">
        <div class="container">
          <h1 th:text=${serviceException}></h1>
        </div>
      </div>
      <div class="container-fluid" th:if="${serviceException == null}">
        <table id="students-table" class="table table-hover table-fixed" style="width: 100%">
          <caption>University students</caption>
          <thead class="table-active">
            <tr>
              <th id="name" style="width:20%">Name</th>
              <th id="group" style="width:10%">Group</th>
              <th id="courses">Courses</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="student : ${students}">
              <td class="clickable-row" th:attr="data-url=${student.studentId}" th:text="${student.name}">Name</td>
              <td class="clickable-row" th:attr="data-url=${student.studentId}" th:text="${student.group.groupName}">Group</td>
              <td>
                <div th:if="${student.courses.isEmpty()}">
                  <div class="text-secondary">The student does not have courses yet</div>
                </div>

                <div th:unless="${student.courses.isEmpty()}">
                  <ul class="list-group list-group-horizontal-sm">
                    <li class=flex-fill th:each="course:${student.courses}">
                    <a class="list-group-item list-group-item-action" th:href="@{/courses/{id}(id=${course.courseId})}" th:text="${course.courseName}"></a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="addButton" class="panel-body">
    <a class="btn btn-success btn-circle btn-xl" role="button" href="/university/students/new"> <em class="fa fa-plus"></em></a>
  </div>

  <div th:if="${success != null}" class="alert alert-success" role="alert" th:text=${success} style="text-align: center"></div>
  
  <div id="counters-container" style="display: none"></div>

  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script th:src="@{/scripts/main.js}"></script>

</body>
</html>
