<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add new lesson</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="btn btn-dark" role="button" th:href="@{timetable}"> <span> <em class="fas fa-arrow-circle-left fa-lg"></em></span> Timetable</a> 
      <a class="navbar-brand" href="#">Add new time</a>
    </div>
  </nav>
  <br>

  <div class="container">
    <div class="container jumbotron" style="padding: 1rem 1rem">
      <h5>Add new time into timetable</h5>
      <hr class="my-4">

      <div>
        <form class="form" id="timeForm" th:method="POST" th:action="@{/timetable/new-time}" th:object="${dateTime}">
          <div class="row">
            <div class="col-sm-4">
              <div class="card text-center">
                <div class="card-header">Select date</div>
                <div class="card-body">
                  <h5 class="card-title">Date</h5>
                  <div data-date-format="yyyy-mm-dd">
                       <input type="date" class="form-control" th:field="*{lessonDate}" required id="date" />
                  </div>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>

          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">Select time start lesson</div>
              <div class="card-body">
                <h5 class="card-title">Start lesson</h5>
                <div class="md-form md-outline">
                  <input type="time" id="start-picker" th:field="*{startLesson}" required class="form-control text-center">
                </div>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card text-center">
              <div class="card-header">Select time end lesson</div>
              <div class="card-body">
                <h5 class="card-title">End lesson</h5>
                <div class="md-form md-outline">
                  <input type="time" id="end-picker" th:field="*{endLesson}" required class="form-control text-center"> 
                </div>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>
          </div>

      <hr class="my-4">
      <div class="form-group row">
        <div class="col-sm-12">
          <button id="saveLesson" type="submit" class="btn btn-success btn-block">
            Save time <em class="fas fa-save"> </em>
          </button>
        </div>
      </div>
      <div th:if="${#fields.hasErrors('global')}" class="alert alert-danger" role="alert" th:errors=*{global} style="text-align:center"></div>
      <div th:if="${#fields.hasErrors('lessonDate')}" class="alert alert-danger" role="alert" th:errors=*{lessonDate} style="text-align:center"></div>
      <div th:if="${#fields.hasErrors('startLesson')}" class="alert alert-danger" role="alert" th:errors=*{startLesson} style="text-align:center"></div>
      <div th:if="${#fields.hasErrors('endLesson')}" class="alert alert-danger" role="alert" th:errors=*{endLesson} style="text-align:center"></div>
      </form>
    </div>
  </div>
  </div>
  
  <div th:if="${serviceException != null}" class="alert alert-danger" role="alert" th:text=${serviceException} style="text-align: center"></div>

</body>
</html>