<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add new lesson</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="btn btn-dark" role="button" th:href="@{/timetable/timetable}"> <span> <em class="fas fa-arrow-circle-left fa-lg"></em> Timetable</span></a> 
      <a class="navbar-brand" href="#">Add new lesson</a>
    </div>
  </nav>
  <br>

  <div class="container">
    <div class="container jumbotron" style="padding: 1rem 1rem">
      <h5
        th:text="${'Adding lesson on ' + #temporals.format(dayOfLesson, 'dd-MM-yyyy') + ' from ' +
    #temporals.format(lesson.dateTime.startLesson, 'HH:mm') + ' to ' + #temporals.format(lesson.dateTime.endLesson, 'HH:mm') +' for group '+ lesson.group.groupName}">Add
        lesson</h5>
      <hr class="my-4">

      <div th:if="${#lists.isEmpty(freeAuditoriums)}" class="alert alert-danger" role="alert" th:text="${'There are no available auditoriums with capacity ' + lesson.group.students.size()}"
        style="text-align: center"></div>

      <div th:unless="${freeAuditoriums.isEmpty()}">

        <form class="form" id="inputForm" th:method="POST" th:action="@{/timetable/new}" th:object="${lesson}">
          <input type="hidden" th:field="*{dateTime.dateTimeId}" /> 
          <input type="hidden" th:field="*{group.groupId}" />
          <input type="hidden" th:field="*{group.groupName}" />
          <div class="row">
            <div class="col-sm-4">
              <div class="card text-center">
                <div class="card-header">Select course</div>
                <div class="card-body">
                  <h5 class="card-title">Available courses</h5>
                  <ul class="list-group-item text-left">
                    <li class="list-group-item" th:each="course : ${allCourses}">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" th:field="*{course}" th:value="${{course}}" th:id="${{course}}"> <label class="custom-control-label"
                          th:text="${course.courseName}" th:for="${{course}}"></label>
                      </div>
                    </li>
                  </ul>
                  <button id="apply" type="submit" class="btn btn-dark btn-block" th:disabled=${disableApplyButton}>
                    Choose teacher and auditorium <em class="fas fa-arrow-circle-right fa-lg"> </em>
                  </button>
                </div>
                <div class="card-footer">
                  <div th:if="${noTeachers != null}" class="alert alert-danger" role="alert" th:text="${noTeachers}"></div>
                </div>
              </div>
            </div>

            <div class="col-sm-4" th:if="${availableTeachers != null}">
              <div class="card text-center">
                <div class="card-header">Select auditorium</div>
                <div class="card-body">
                  <h5 class="card-title">Available auditoriums</h5>
                  <ul class="list-group-item text-left">
                    <li class="list-group-item" th:each="auditorium : ${freeAuditoriums}">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" th:field="*{auditorium.auditoriumId}" th:value="${auditorium.auditoriumId}" th:id="${'auditorium' + auditorium.auditoriumId}">
                        <label class="custom-control-label" th:text="${auditorium.roomNumber}" th:for="${'auditorium' + auditorium.auditoriumId}"></label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>

            <div class="col-sm-4" th:if="${availableTeachers != null}">
              <div class="card text-center">
                <div class="card-header">Select teacher</div>
                <div class="card-body">
                  <h5 class="card-title">Available teachers</h5>
                  <ul class="list-group-item text-left">
                    <li class="list-group-item" th:each="teacher : ${availableTeachers}">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" th:field="*{teacher.teacherId}" th:value="${teacher.teacherId}" th:id="${'teacher' + teacher.teacherId}"> <label
                          class="custom-control-label" th:text="${teacher.name}" th:for="${'teacher' + teacher.teacherId}"></label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <div class="form-group row">
            <div class="col-sm-12">
              <button id="saveLesson" type="submit" class="btn btn-success btn-block" th:disabled=${disableSaveButton}>
                Save lesson <em class="fas fa-save"> </em>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div th:if="${serviceException != null}" class="alert alert-danger" role="alert" th:text=${serviceException} style="text-align: center"></div>
<div th:if="${noTeachersAtAll != null}" class="alert alert-danger" role="alert" th:text=${noTeachersAtAll} style="text-align: center"></div>
</body>
</html>