<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Timetable</title>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/university.css}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/university">University</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul id="ul-nav" class="navbar-nav ml-auto">
          <li class="nav-item active"><a id="timetable" class="nav-link" href="/university/timetable/timetable">Timetable<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a id="courses" class="nav-link" href="/university/courses/courses-list">Courses </a></li>
          <li class="nav-item"><a id="teachers" class="nav-link" href="/university/teachers/teachers-list">Teachers </a></li>
          <li class="nav-item"><a id="groups" class="nav-link" href="/university/groups/groups-list">Groups </a></li>
          <li class="nav-item"><a id="students" class="nav-link" href="/university/students/students-list">Students </a></li>
          <li class="nav-item"><a id="auditoriums" class="nav-link" href="/university/auditoriums/auditoriums-list">Auditoriums </a></li>
          <li class="nav-item"><a id="settings" class="nav-link" href="/university/settings-page"><em class="fas fa-cog fa-lg"></em> </a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid">
        <table id="table-timetable" class="table table-hover table-bordered table-timetable" style="width: 100%">
          <caption>University timetable</caption>
          <thead class="table-active">
            <tr>
              <th id="date" rowspan="2" style="width: 7%">Date</th>
              <th id="time" rowspan="2" style="width: 7%">Time</th>
              <th id="groups-head" th:colspan="${allGroups.size()}">Groups</th>
            </tr>
            <tr>
              <th id="groups" th:each="group : ${allGroups}" th:text="${group.groupName}">Group1</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="date : ${allDates}" th:with="allTimes = ${__${'for' + #temporals.format(date, 'yyyyMMdd')}__}">
              <td class="table-active" th:text="${#temporals.format(date, 'dd-MM-yyyy')}" th:rowspan="${allTimes.size() + 1}"></td>
              <tr th:each="time : ${allTimes}">
                <td class="table-active clickable-row" th:text="${#temporals.format(time.startLesson, 'HH:mm') + '-' + #temporals.format(time.endLesson, 'HH:mm')}" 
                th:attr="data-url=${'edit-time/' + time.dateTimeId}"/>
                <td id="lessonData" class="lesson-data" th:each="group : ${allGroups}" th:with="allTimesForGroup=${__${'group' + group.groupId}__}">
                  <div th:if="${allTimesForGroup.contains(time)}">
                    <div class="card bg-success text-white" th:each="lesson : ${allLessons}" th:if="${lesson.group.groupName == group.groupName and lesson.dateTime == time}">
                      <div class="card-body">
                      <form class="form" th:method="DELETE" th:action="@{/timetable/timetable/{id}(id = ${lesson.lessonId})}">
                      <button type="submit" class="close"><span aria-hidden="true">&times;</span></button>
                      </form>
                        <h5 class="card-title" th:text="${lesson.course.courseName}"></h5> 
                        <h6 class="card-subtitle mb-2" th:text="${'Auditorium ' + lesson.auditorium.roomNumber}"></h6>
                        <a th:text="${lesson.teacher.name}"></a> <a th:text="${lesson.group.groupName}"></a>
                      </div>
                    </div>
                  </div>

                  <div th:unless="${allTimesForGroup.contains(time)}">
                    <div class="card bg-secondary text-white">
                      <div class="card-body clickable-row" th:attr="data-url=${'new/' + time.dateTimeId + '/' + group.groupId}">
                        <h5 class="card-title">No lesson</h5>
                        <h6 class="card-subtitle mb-2"><em class="fa fa-plus-circle"></em></h6>
                        <a>Add lesson</a> <a> </a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div id="addButton" class="panel-body" style="position: fixed; bottom: 55px; right: 55px;">
    <a class="btn btn-success btn-circle btn-xl" role="button" href="/university/timetable/new-time"> <em class="fa fa-plus"></em></a>
  </div>
 
   <div th:if="${success != null}" class="alert alert-success" role="alert" th:text=${success} style="text-align: center"></div>
   <div th:if="${serviceException != null}" class="alert alert-danger" role="alert" th:text=${serviceException} style="text-align: center"></div>
 
  <div id="counters-container" style="display: none"></div>
  

  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <script th:src="@{/scripts/main.js}"></script>
</body>
</html>